h2{font-family : sans-serif;
    font-size : 28px;
    text-shadow : 2px 2px 2px #aaaaaa;
    text-align: center;

}
h3 {
    font-family : sans-serif;
    font-size : 24px;
    text-shadow : 2px 2px 2px #aaaaaa;
    text-align: right;
    margin-right: 200px;
}
